<div class="filters-controls hide-for-mediumlarge">
  <button data-open="filter-box" class="filters-controls__trigger">
    <%= t "consultations.filters_small_view.filter", scope: "decidim" %>
    <%= icon "caret-bottom",
             class: "icon--small float-right",
             aria_label: "Filters",
             role: "img" %>
  </button>
</div>

<div class="reveal" id="filter-box" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= "Filter by" %>:</h3>
    <button class="close-button" data-close
            aria-label="<%= "Close window" %>"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="filters">
    <%= render partial: "filters", locals: { type: :small } %>
  </div>
</div>
