<% provide :meta_title, t("members.index.title", scope: "decidim") %>

<main class="wrapper">
  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= render partial: "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= render partial: "filters" %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-9">
      <section id="members-grid" class="section row collapse">
        <div class="row collapse order-by">
          <h2 id="members-count" class="order-by__text section-heading">
          <%= render partial: "count", locals: { count: @members.count, params: @members.params } %>
          </h2>
          <span style="margin-left: 1em;">(<%= link_to t("members.index.show_all", scope: "decidim"), decidim_members.members_path %>)</span>
        </div>
        <div id="members" class="row small-up-1 medium-up-2 large-up-3 card-grid">
          <%= render partial: "members", locals: { members: @members } %>
        </div>
      </section>
    </div>
  </div>
</main>

<%= javascript_include_tag "decidim/filters" %>
<%= javascript_include_tag "decidim/results_listing" %>
